.project-img {
    width: 100%;
    height: 350px !important;
}

.project-full-img {
    width: 100%;
    height: 50% !important;
}

.about-img {
    height: 100% !important;
}

.cert-img {
    max-width: 125px !important;
    max-height: 125px !important;
}
